body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('https://d41chssnpqdne.cloudfront.net/user_upload_by_module/chat_bot/files/15013986/qcnvtYoiMOwZxgIG.webp?Expires=1730242543&Signature=p53I87hWDaiZXu8~MIkXEjM~corvdLlmHYd5J7lpSAH97tYLGBFL2KpM79dNXL17PBbS3yoY52L1pqYuUgKs9d6L2XdVP4UjNbeXN09N~0VI1PJrsx0awVETIQo2t61b-OfHdGd-1vFJqjal-sjUUXg0Vc4Emn4ZiGFQSetNN1hpeTS-7cgx2f6wkPIfYXsEb2MqqSB-Cz-HptrA1RGlwICXd-qLZux-lfWkaZJSHzaGkpHISIqLdpl0tL7bJ8dg6Yep1XlyrCZr1SU-RtNu6cbWLDaW0M~s0e7rkkfPapd8GGAXql9HfRgun-9-hok6V2QLQGXGNH2Ecr2J0GQbtA__&Key-Pair-Id=K3USGZIKWMDCSX');
    background-size: cover;
    
}
#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon-card {
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
